---
import { Image } from "astro:assets";

export interface Props {
	id: string;
	image: ImageMetadata;
	alt: string;
	bonus?: number;
	class?: string;
}

const { id, image, alt, bonus, class: className } = Astro.props;
const classes = bonus ? `bonus ${className || ''}` : className || 'collector';
---

<input 
	type="checkbox" 
	{id} 
	class={classes}
	data-bonus={bonus?.toString() || '0'}
/>
<label for={id} class="increases">
	<Image src={image} {alt} width={65} height={65} />
</label>

<style>
	input[type="checkbox"] {
		display: none;
	}

	.increases {
		margin-inline: var(--space-xs);
		filter: grayscale(1);
		transition: filter var(--transition), opacity var(--transition);
		cursor: pointer;
		opacity: 0.75;
	}

	.increases :global(img) {
		width: 55px;
		height: 55px;
		aspect-ratio: 1;
		border: 3px solid var(--color-primary);
		border-radius: 50%;
		margin-top: var(--space-md);
		transition: border-width var(--transition), border-color 0.2s ease;
	}

	input[type="checkbox"]:checked + .increases {
		filter: grayscale(0);
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		.increases :global(img) {
			width: 65px;
			height: 65px;
			border-width: 4px;
		}
	}
</style>
